<%- include('partials/userheader') %>
<body>
    <link rel="stylesheet" href="css/carpenter.css">
    <div class="grid">
        <% electricain.forEach(function(elctcns){ %>
            <div class="card">
                <div class="intial"> <%= elctcns.name.charAt(0).toUpperCase() %> </div>
                <div class="content">
                    <p>Company name: Quickfix electricain</p>
                    <p>Person name: <%= elctcns.name %></p>
                    <p>Place : <%= elctcns.place %></p>
                    <p>Experience :<%= elctcns.experience %></p>
                    <p>Phone No: <%= elctcns.phoneno %></p>
                </div>
            </div>
        <% }) %>
    </div>
</body>

<%- include('partials/footer') %>