<%- include('partials/userheader') %>
<body>
    <link rel="stylesheet" href="css/carpenter.css">
    <h1 style="color:black;font-family:'Courier New', Courier, monospace" class="card-header">Company name: Quickfix </h1>
    <h1 style="color:black;font-family:'Courier New', Courier, monospace" class="card-header">Worker: House Keeper</h1>
    <div class="grid">
        <% keeper.forEach(function(kpr){ %>
            <div class="card">
                <div class="card-image">
                    <img src="/images/keeper/<%= kpr.image %>.jpeg" alt="<%= kpr.name %>" class="carpenter-image">
                    </div>
                    <div class="card-content">
                        <p>Person name: <%= kpr.name %></p>
                        <p>Place : <%=kpr.place %></p>
                        <p>Experience :<%= kpr.experience %></p>
                        <p>Phone No: <%= kpr.phoneno %></p>
                        <p>Ratings : <%= kpr.ratings %></p>
                        <p>Review : <%= kpr.reviews %></p>
                    </div>
            </div>
        <% }) %>
    </div>
</body>

<%- include('partials/footer') %>