<%- include('partials/userheader') %>
<body>
    <link rel="stylesheet" href="css/carpenter.css">
    <div class="grid">
        <% tvrepair.forEach(function(trpr){ %>
            <div class="card">
                <div class="intial"> <%= trpr.name.charAt(0).toUpperCase() %> </div>
                <div class="content">
                    <p>Company name: Quickfix tvrepair</p>
                    <p>Person name: <%= trpr.name %></p>
                    <p>Place : <%= trpr.place %></p>
                    <p>Experience :<%= trpr.experience %></p>
                    <p>Phone No: <%= trpr.phoneno %></p>
                </div>
            </div>
        <% }) %>
    </div>
</body>

<%- include('partials/footer') %>